[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-apispec = "*"
marshmallow = "*"
flask-cors = "*"
pymysql = "*"
sqlalchemy-utils = "*"
pyjwt = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
